header {
  margin: 0px;
}

.mr-auto {
  position: relative;

  left: 175px;
}

nav.Link {
  margin-right: 15px;
}

.cardtext {
  font-size: 1.1em;
  color: #0c0b09;
  margin: 20px 20px 0px 20px;
  position: relative;
}
.firstRow {
  margin: auto;
  padding: auto;
  font-size: 20px;
  color: #130d02;
  text-shadow: #130d02 1px 1px;
  min-height: 412px;
  min-width: 412px;
  width: 100%;
  height: 100%;

  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .firstRow {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .firstRow {
    min-width: 20%;
    min-height: 20%;
    font-size: 12px;
  }
}

.secondrow {
  position: abolsute;
  margin-top: 620px;
}

.firstcol {
  margin-top: 60px;
}

h4 {
  font-size: 14px;
  text-shadow: none;
}

mainpage {
  margin: 20px 35px 10px 35px;
}

.cardmarket {
  margin: 20px;
}

.dm {
  background: #044fbe;
  color: white;
}

.smallhead {
  padding: 55px;
  background: #ffac12;
  margin-top: auto;
  color: black;
  font-size: 25px;
  text-align: center;
}

.mainButton {
  margin-left: 20px;
}

.mygrid {
  background: #ffac12;
}

.digihead {
  background: #ffac12;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.digitext {
  margin: 10px;
}

.bootimage {
  margin: 10px;
  margin-top: 20px;
}

form {
  margin: 20px;
}
