header {
  margin: 0px;
}

.mr-auto {
  position: relative;

  left: 175px;
}

nav.Link {
  margin-right: 15px;
}

.cardtext {
  font-size: 1.1em;
  color: #0c0b09;
  margin: 20px 20px 10px 20px;
  position: relative;
}
.firstRow {
  margin: auto;
  padding: auto;
  font-size: 2.1em;
  color: #130d02;
  text-shadow: #130d02 1px 1px;
  min-height: 300px;
  min-width: 512px;
  width: 100%;
  height: 100%;

  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .firstRow {
    font-size: 1em;
  }
}

.secondrow {
  position: abolsute;
  margin-top: 620px;
}

.firstcol {
  margin-top: 60px;
}

h4 {
  font-size: 14px;
  text-shadow: none;
}

mainpage {
  margin: 20px 35px 10px 35px;
}

.cardmarket {
  margin: 20px;
}

.dm {
  background: #044fbe;
  color: white;
}
